extends layout

block content
  h1 #{title}
  form(method = 'POST', action='/articles/add')
          #form-group
            label Title:
            input.form-control(name= 'title', type='text')
          p
          #form-group
            label Author:
            input.form-control(name= 'author', type='text')
          p
          #form-group
            label Body:
            textArea.form-control(name= 'body')
          p
          input.btn.btn.primary(type = 'submit', value= 'Submit')