extends layout

block content
  h2.page-header Forgot Password
  p Please enter your e-mail below
  
  form(method = 'POST', action='/users/reset_password')
          #form-group
            label Email:
            input.form-control(name= 'email', type='email',
            placeholder='email')
            p
            input.btn.btn.primary(type = 'submit',name='forgot' value= 'SUBMIT')